<div>
  <iframe width="900" height="480" src="http://www.youtube.com/embed/4M6qAMMqFhI" frameborder="0" allowfullscreen></iframe>
</div>
<div style='float: left; width: 600px; margin-right: 20px;'>
  <h1>ALL BACON ALL CHUNKY ALL THE TIME!</h1>
  <p>
    <img src='http://4.bp.blogspot.com/-HX7l3B-dPXY/UN0FeGidWHI/AAAAAAAADZE/FF9svNR700I/s1600/crispy-bacon.jpg'>
  </p>
  <p>
    Bacon ipsum dolor sit amet bacon leberkas chicken meatloaf. Meatball sirloin ribeye, tongue sausage ball tip prosciutto cow andouille tail. Drumstick beef spare ribs, frankfurter shank bacon filet mignon. Pork belly t-bone ham hock meatloaf pig short loin strip steak shoulder. Frankfurter rump ground round flank pork belly meatloaf spare ribs ham hock ribeye jowl cow ham. Pork loin cow swine, boudin jerky turkey t-bone drumstick.
  </p>
  <p>
    <ul>
      <li>Bacon is good.</li>
      <li>FDA Approved.</li>
      <li>Women who are pregnant or operating heavy machinery should definitely eat bacon.</li>
      <li>Bacon.</li>
    </ul>
  </p>
  <p>
    <img src='http://4.bp.blogspot.com/-EAK6KpsLh1M/Tn-2pFmNBvI/AAAAAAAAAtk/P5YmnG9RQno/s1600/bacon-love.jpg' width='600px'>
    <br>
    <img src='http://cdn.sheknows.com/articles/candied-bacon.jpg' width='600px'>
    <br>
    <img src='http://cdn.instructables.com/FAN/NWX6/CQHEXCFLZ85/FANNWX6CQHEXCFLZ85.LARGE.jpg' width='600px' >
  </p>
</div>

<div style='float: left; width: 300px;'>
  <p>
    Bacon boudin rump jowl prosciutto pork doner pork loin beef ribs pork chop tongue tail. Tenderloin short loin doner meatloaf ham hock chicken brisket pancetta shank jerky sausage capicola turducken flank strip steak. Spare ribs bresaola pastrami, strip steak sausage sirloin jerky pork chop pork loin filet mignon prosciutto cow fatback meatloaf. Pork frankfurter meatball andouille sirloin biltong kielbasa short loin bresaola corned beef. Rump boudin turkey shoulder beef ribs ball tip tongue ham hock. Boudin bacon short loin chicken, biltong ham pork belly frankfurter pancetta pork chop ham hock pork loin rump kielbasa jowl.
  </p>
  <h2>Put some bacon on it!</h2>
  <p>
    Beef ribs short ribs pork t-bone. Ham hock rump beef filet mignon pork belly pig fatback shoulder beef ribs, tongue frankfurter sirloin turkey. Shankle spare ribs chicken pancetta flank, salami meatball pork belly pork chop ham hock chuck brisket pastrami. Ribeye turkey pork belly hamburger meatball pork loin biltong bresaola chicken pastrami beef ribs ground round ham drumstick. Spare ribs brisket shankle pork. Capicola rump shankle fatback salami shank doner hamburger pastrami shoulder tri-tip t-bone ham hock pork chop jerky.
  </p>
</div>