// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
}

header {
  background: #ff0000;
  color: #fff;
  height: 50px;
  margin: 0;
  padding: 10px
}

header .logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

header .logo a {
  color: #fff;
  text-decoration: none;
}

header ul#nav {
  float: right;
  list-style: none;
}

header ul#nav li {
  float: left;
  margin: 0px 10px;
}

header ul#nav li a {
  color: #fff;
  font-size: 16px;
}

#content {
  padding: 20px;
  margin: 0 auto;
  width: 920px;
  margin-bottom: 100px;
  clear: both;
}

footer {
  text-align: center;
  margin: 100px auto 20px;
}

footer ul {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  width: 400px;
}

footer ul li {
  float: left;
  margin: 0 10px;
}